.nav-item > .active {
    background-color: #3a57e8;
    border-radius: 25px;
    color: white !important;

}
.bg-dashboard{
    background-color: #3a57e8;
}


.upload-icone {
    position: absolute;
    top: auto;
    left: 69px;
    bottom: -9px;
    transition: all .3s cubic-bezier(.175,.885,.32,1.275);
    border-radius: 50%;
    height: 2.188rem;
    width: 2.188rem;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    border: 5px solid #fff;
}
.header-styling{
 margin: 0 -12px 0 -15px;   
 background-color: #fff;
}
.header-image{
    border-radius: 50px;
}
.signin-resize-text{
    font-size: 12px;
}
.nav-bg{
    z-index: 999;
}